# 1. What exactly is []?

* [] is an empty list. We can create a list using [] and store elements in it by seperating each element with a comma.

In [3]:
x = []
y = ["a","b",1,3,54]
print(x)
print(y)

[]
['a', 'b', 1, 3, 54]

# 2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam = [2,4,6,8,10]

In [5]:
spam.insert(2,"hello")

In [6]:
spam

[2, 4, 'hello', 6, 8, 10]

# Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

# 3. What is the value of spam[int(int('3' * 2) / 11)]?

In [7]:
spam = ['a','b','c','d']

In [8]:
spam[int(int('3' * 2) / 11)]

'd'

# 4. What is the value of spam[-1]?

In [9]:
spam[-1]

'd'

# 5. What is the value of spam[:2]?

In [10]:
spam[:2]

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

# 6. What is the value of bacon.index('cat')?

In [22]:
bacon =  [3.14, 'cat', 11, 'cat', True]

In [23]:
# Here in this list, even though there are two elements called 'cat', bacon.index("cat") will return the index of the first occurence of the word 'cat'.
bacon.index("cat")

1

# 7. How does bacon.append(99) change the look of the list value in bacon?

In [24]:
bacon.append(99)

In [25]:
bacon

[3.14, 'cat', 11, 'cat', True, 99]

# 8. How does bacon.remove('cat') change the look of the list in bacon?

In [26]:
#Since there are two elements called cat in this list, this will remove the first "cat" from the list
bacon.remove('cat')

In [27]:
bacon

[3.14, 11, 'cat', True, 99]

# 9. What are the list concatenation and list replication operators?

* For list concatenation, "+" operator is used.
* For list replication, '*' operator is used

In [28]:
x = ["a","b","c"]
y = [1,2,3]

In [29]:
x + y

['a', 'b', 'c', 1, 2, 3]

In [34]:
x * 2

['a', 'b', 'c', 'a', 'b', 'c']

# 10. What is difference between the list methods append() and insert()?

* append() method, adds an element at the end of a list
* insert() method, we can add an element anywhere in the list by specifying the index number where it needs to be added.

In [35]:
x = ['a','b','c']

In [36]:
x.append('e')

In [37]:
x

['a', 'b', 'c', 'e']

In [39]:
x.insert(2,"z")

In [40]:
x

['a', 'b', 'z', 'c', 'e']

# 11. What are the two methods for removing items from a list?

* we can either use the .remove() method or .pop() method for removing items from a list. In the first method we need to specify which element should be removed and in the second method, by default it will remove the last element of the list unless a particular index is mentioned.

In [41]:
lst = ["hello","world","ineuron",7,32,9]

In [42]:
lst.remove("hello")

In [43]:
lst

['world', 'ineuron', 7, 32, 9]

In [44]:
lst.pop()

9

In [45]:
lst

['world', 'ineuron', 7, 32]

In [46]:
lst.pop(2)

7

# 12. Describe how list values and string values are identical.

* In a list, each element of the list has an index. Similairly, in a string value, each character of a string has an index. In both string and list, we can perform some common operations such as slicing operation,concatenation operation and replication operation. Also, we can iterate through all the elements of a list, the same way we can iterate through all the characters of a string. But the main difference between a list value and a string value is that, a list is mutable but a string is immutable.

In [47]:
x = [1,2,3,4]
y = 'hello'

In [48]:
x + [5,6]

[1, 2, 3, 4, 5, 6]

In [49]:
y + " world"

'hello world'

In [50]:
x[1:3]

[2, 3]

In [51]:
y[1:3]

'el'

In [54]:
for i in x:
    print(str(i) + " is an element of list x")

1 is an element of list x
2 is an element of list x
3 is an element of list x
4 is an element of list x

In [55]:
for i in y:
    print(i + " is a character of string y")

h is a character of string y
e is a character of string y
l is a character of string y
l is a character of string y
o is a character of string y

# 13. What's the difference between tuples and lists?

* Tuples are very similair to list. A tuple is a collection of items which can be created by using '()' . But unlike lists, Tuples do not have the property of mutability, which means that an element in a tuple cannot be changed,the way we are able to do in a list. Also, lists have many more built in methods which can be used as compared to tuples.

In [57]:
lst= [1,3,45,2]

In [60]:
lst[2] = 4

In [61]:
lst

[1, 3, 4, 2]

In [56]:
tple = (1,23,5,8)

In [63]:
tple[2] = 9

TypeError: 'tuple' object does not support item assignment

# 14. How do you type a tuple value that only contains the integer 42?

* For a tuple to have only the integer 42 as the only element, it must also have a comma after the 42 for it to be recognized as a tuple. Other it will be considered as just an integer

In [78]:
a = (5)
a

5

In [79]:
type(a)

int

In [80]:
x = (42,)
x

(42,)

In [81]:
type(x)

tuple

# 15. How do you get a list value's tuple form? How do you get a tuple value's list form?

* To convert a list into a tuple, we can use tuple(list) method. On the other hand, to convert a tuple into a list, we can use list(tuple) method.

In [88]:
x = [2434,7457,123,7987]
type(x)

list

In [84]:
tuple(x)

(2434, 7457, 123, 7987)

In [87]:
y = (999,234,456,556)
type(y)

tuple

In [86]:
list(y)

[999, 234, 456, 556]

# 16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

* The elements of a list can be of any data type. One or more data types can be used together. Hence, if an element inside a list is not a list, it can either be a string, integer, dictionary, tuple,set,etc.

In [94]:
mylst = ["hello",123,("a","b"),{"A":32424,"B":57673},{7,8,9}]

In [97]:
for i in range(len(mylst)):
    print(type(mylst[i]))

<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# 17. How do you distinguish between copy.copy() and copy.deepcopy()?

* While importing the copy module, we can use copy.copy() for "Shallow copy" and copy.deepcopy() for "deep copy". These types of copies are necessary only in the case of compound objects (eg. nested list, nested dictionary, etc)
* Deep copy allows the user to make a new copy of a collection of objects from an existing collection and also creates copies of all the elements from the old collection to the new collection.Here, the copying process happens repeatedly. Therefore, any changes made to the elements of the copy will not affect the original collection of objects in case of deep copy
* In case of Shallow copy, even though a copy of the collection is created from an existing one, the objects inside both the collections(copy and original) share the same reference. So, whatever changes are made to the objects of the copy can be seen in both the copy the and original collection.

In [9]:
import copy

In [50]:
#This is an example of deep copy
x = [1,[2,7],3,4]
y = copy.deepcopy(x)

In [51]:
y

[1, [2, 7], 3, 4]

In [52]:
y[1][1]=9

In [56]:
# Here we can see that, even though the second element of the nested list of the copy is being changed, the orginal doesn't change
print(y)
print(x)

[1, [2, 9], 3, 4]
[1, [2, 7], 3, 4]

In [57]:
#This is an example of shallow copy
l = [["a","q","w"],"b","c","d"]
m = copy.copy(l)

In [58]:
m

[['a', 'q', 'w'], 'b', 'c', 'd']

In [59]:
m[0][1]="Jayadevan"

In [60]:
# Here we can see that, when an element of the nested list of the copy has been changed, it has been reflected in the original too.
print(m)
print(l)

[['a', 'Jayadevan', 'w'], 'b', 'c', 'd']
[['a', 'Jayadevan', 'w'], 'b', 'c', 'd']